<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AM Play</title>
    <link rel="icon" type="image/x-icon" href="images/img_def_album_art.png">
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Fontawesome 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body class="bg-gray-900 text-white h-screen flex items-center justify-center relative">
<!-- Vue App -->
<div id="app">
    <!-- Blurred Background -->
    <div class="absolute inset-0 bg-cover bg-center blur-lg" :style="`background-image: url('${currentSong.cover || 'images/img_def_album_art.png'}');`"></div>
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <div class="relative z-10 w-full max-w-md sm:px-4 mobile-frame">
        <!-- Album Art -->
        <div class="sm:px-1 sm:py-10">
            <div class="flex justify-center">
                <img :src="currentSong.cover || 'images/img_def_album_art.png'" alt="Album Cover" class="w-72 h-72 sm:p-2 rounded-lg shadow-lg object-cover"/>
            </div>

            <!-- Song Details -->
            <div class="text-center mt-6">
                <h1 class="text-3xl font-bold">{{ currentSong.title }}</h1>
                <p class="text-gray-400 text-sm mt-2">{{ currentSong.artist }}</p>
            </div>

            <!-- Progress Bar -->
            <div class="mt-6">
                <input type="range" min="0" :max="duration" v-model="currentTime" @input="seekSong" :style="{ background: progressBarBackground }"/>
                <div class="flex justify-between text-xs text-gray-400 mt-1">
                    <span>{{ formatTime(currentTime) }}</span>
                    <span>{{ formatTime(duration) }}</span>
                </div>
            </div>

            <!-- Music Controls -->
            <div class="flex items-center justify-center gap-8 mt-6">
                <button @click="toggleRepeat" :class="{'text-purple-400': isRepeat}">
                    <i class="fas fa-repeat"></i>
                </button>
                <button @click="prevSong" class="text-3xl hover:text-purple-400">
                    <i class="fa-solid fa-backward"></i>
                </button>
                <button @click="togglePlay" class="bg-purple-500 text-white text-3xl w-16 h-16 rounded-full flex items-center justify-center hover:bg-purple-600 shadow-lg">
                    <i v-if="isPlaying" class="fas fa-pause"></i>
                    <i v-else class="fas fa-play"></i>
                </button>
                <button @click="nextSong" class="text-3xl hover:text-purple-400">
                    <i class="fa-solid fa-forward"></i>
                </button>
                <button @click="toggleShuffle" :class="{'text-purple-400': isShuffle}">
                    <i class="fas fa-random"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Vue Script -->
<script>
    const __def_col = '#a855f7';


    const { createApp } = Vue;

    createApp({
        data() {
            return {
                audioPlayer: new Audio(),
                isPlaying: false,
                isRepeat: false,
                isShuffle: false,
                currentTime: 0,
                duration: 0,
                currentSongIndex: 0,
                playlist: [
                    {
                        title: "Junooniyat",
                        artist: "Akriti Kakar, Shrey Singhal",
                        cover: "covers/Junooniyat Meet Bros.jpg",
                        src: "audio/Junooniyat Meet Bros 128 Kbps.mp3",
                    },
                    {
                        title: "Thehre Rahen",
                        artist: "Jubin Nautiyal",
                        cover: "covers/Thehre Rahen - Jubin Nautiyal.jpg",
                        src: "audio/Thehre Rahen - Jubin Nautiyal.mp3",
                    },
                    {
                        title: "Tera Kasoor",
                        artist: "Vishal Mishra, Payal Dev, Kunaal Vermaa",
                        cover: "covers/Tera Kasoor - Vishal Mishra.jpg",
                        src: "audio/Tera Kasoor - Vishal Mishra.mp3",
                    },
                    {
                        title: "Morni",
                        artist: "Badshah, Sharvi Yadav, Hiten",
                        cover: "covers/Morni - Badshah.jpg",
                        src: "audio/Morni - Badshah.mp3",
                    },
                    {
                        title: "Junooniyat",
                        artist: "Akriti Kakar, Shrey Singhal",
                        cover: "",
                        src: "audio/Junooniyat Meet Bros 128 Kbps.mp3",
                    },
                    {
                        title: "AANKH",
                        artist: "Sunidhi Chauhan",
                        cover: "covers/AANKH - Sunidhi Chauhan.jpg",
                        src: "audio/AANKH - Sunidhi Chauhan.mp3",
                    },
                ],
            };
        },

        computed: {
            currentSong() {
                return this.playlist[this.currentSongIndex];
            },

            progressBarBackground() {
                const progress = (this.currentTime / this.duration) * 100;
                return `linear-gradient(to right, ${__def_col} ${progress}%, #444 ${progress}%)`;
            },
        },

        methods: {
            loadSong() {
                this.audioPlayer.src = this.currentSong.src;
                this.audioPlayer.load();
            },

            togglePlay() {
                if (this.isPlaying) {
                    this.audioPlayer.pause();
                } else {
                    this.audioPlayer.play().catch((error) => {
                        console.log("Autoplay failed", error);
                    });
                }
                this.isPlaying = !this.isPlaying;
            },

            nextSong() {
                this.currentSongIndex = this.isShuffle
                    ? Math.floor(Math.random() * this.playlist.length)
                    : (this.currentSongIndex + 1) % this.playlist.length;
                this.updateSong();
                this.audioPlayer.play().catch((error) => {
                    console.log("Autoplay failed", error);
                });
                this.isPlaying = true;
            },

            prevSong() {
                this.currentSongIndex =
                    (this.currentSongIndex - 1 + this.playlist.length) % this.playlist.length;
                this.updateSong();
                this.audioPlayer.play().catch((error) => {
                    console.log("Autoplay failed", error);
                });
                this.isPlaying = true;
            },

            updateSong() {
                this.isPlaying = false;
                this.loadSong();
            },

            seekSong() {
                this.audioPlayer.currentTime = this.currentTime;
            },

            toggleRepeat() {
                this.isRepeat = !this.isRepeat;
                this.audioPlayer.loop = this.isRepeat;
            },

            toggleShuffle() {
                this.isShuffle = !this.isShuffle;
            },

            formatTime(time) {
                const minutes = Math.floor(time / 60);
                const seconds = Math.floor(time % 60);
                return `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
            },
        },

        watch: {
            currentTime(newValue) {
                if (this.audioPlayer.currentTime !== newValue) {
                    this.audioPlayer.currentTime = newValue;
                }
            },
        },

        mounted() {
            this.loadSong();

            this.audioPlayer.addEventListener("loadedmetadata", () => {
                this.duration = this.audioPlayer.duration;
            });

            this.audioPlayer.addEventListener("timeupdate", () => {
                this.currentTime = this.audioPlayer.currentTime;
            });

            this.audioPlayer.addEventListener("ended", () => {
                this.nextSong();
            });
        },
    }).mount("#app");
</script>

</body>
</html>
